@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

p, h1, h2, h3, a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: white;
}

body {
    background-color: black;
}

.logo {
    display: flex;
}

a {
    margin: 18px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#cover {
    background-image: url(src/background.png);
    height: 763px;
    display: flex;
    align-items: center;
}

.cover-content {
    color: white;
}

button, .btn {
    width: 367px;
    height: 66px;
    border-radius: 25px;
    background-color: #EE660C;
    font-size: 24px;
    color: white;
    border: 0;
}

h1 {
font-size: 64px;
margin: 0;
}

#models img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

#models h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: white;
}

#models h2 {
    color: white;
    font-size: 40px;
}

#models p {
    font-size: 1rem;
    color: white;
}

#models button {
    width: 268px;
    height: 49px;
    border-radius: 25px;
    background-color: #EE660C;
    font-size: 24px;
    color: white;
    border: 0;
}

.model-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.model-card {
    background-color: #101010;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-us-content {
    display: flex;
    padding: 100px;
}

.img-aboutUs {
    width: 462px;
    height: 616px;
}

.text-aboutUs {
    padding: 100px 50px;
    color: white;

}

#about-us p {
    font-size: 24px;
    padding: 0 50px;
}

#about-us h2 {
    padding: 0px 50px;
    color: white;
    font-size: 40px;
}

#about-us {
    background-color: rgb(0, 0, 0);
}

#contacts {
    color: white;
    display: flex;
    justify-content: space-between;
}

.delivery {
    display: flex;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
}

.gug {
    display: flex;
}